<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="css/styles.css" rel="stylesheet">
    <title>Authentication - Register</title>
</head>
<body>
    <div class="container">
        <div class="display-message">
            <span></span>
        </div>
        <h1>Register</h1>
        <div class="login-form">
            <div class="name">
                <div>
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName">
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName">
                </div>
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
        </div>
        <div class="intent">
            Already have an account? <a href="/login">Sign in</a>
        </div>
        <button class="registerButton">Register</button>
    </div>
    <script src="javascript/register.js"></script>
</body>
</html>
